@inject NavigationManager NavigationManager
@inject IBookService BookService
@inject ICommonService CommonService


<style>
    .btn-book {
        /*position: relative;
        display: inline-block;*/
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        padding: 10px 44px 10px;
        font-weight: 400;
        border-radius: 50px;
        background-color: var(--color-main);
        box-shadow: 0px 5px 10px rgba(0,0,0,0.10);
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .genre-tag {
        background-color: white;
        color: var(--color-main);
        padding: 5px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        font-weight: bold;
        transition: all ease 0.2s
    }

        .genre-tag:hover {
            background-color: var(--color-main-light);
            color: white;
        }

    .similar-book-title {
        max-width: 100%;
        color: #444;
    }

    .similarBooks-img {
        width: 100%;
        height: 300px;
        object-fit: contain;
    }

</style>

@if (CommonService.IsMobile)
{
    <style>
        .fab {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 10px !important;
        }
    </style>
}

<PageTitle>@_book?.Title</PageTitle>

<SectionContent SectionName="PageTitle">
    @if (CommonService.IsWeb)
    {
        <h1 class="m-0 text-white fw-bold">@_book?.Title - Book Description</h1>
    }
    else
    {
        <span>@_book?.Title</span>
    }
</SectionContent>

@if (_book is not null)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 d-flex flex-column align-items-center">
                <div class="image-wrapper">
                    <img src="@_book.Image" alt="@_book.Title" class="img-responsive" />
                </div>
                <div class="my-4">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Book Id</th>
                                <td>@_book.Id</td>
                            </tr>
                            <tr>
                                <th scope="row">Format</th>
                                <td>@_book.Format</td>
                            </tr>
                            <tr>
                                <th scope="row">No. of Pages</th>
                                <td>@_book.NumPages</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <a href="@_book.BookLink" target="_blank" class="btn btn-book fab mb-5">
                    @(string.IsNullOrWhiteSpace(_book.BuyLink) ? "Read More" : "Buy Now")
                </a>

            </div>
            <div class="col-sm-8">
                <h2 class="fw-bold">@_book.Title</h2>
                <h5 class="mt-3">
                    <span>by</span>
                    <a href="/authors/@_book.Author.Slug/books"
                       title="Books by @_book.Author.Name"
                       class="text-secondary fw-bold">
                        @_book.Author.Name
                    </a>
                </h5>
                <hr />
                <h3 class="my-3">Description</h3>
                <p class="">
                    @_book.Description
                </p>
                <h4 class="my-3">Genres</h4>
                <div class="d-flex flex-wrap">
                    @foreach (var g in _book.Genres)
                    {
                        <a href="/?genre=@g.Slug" class="genre-tag" title="@g.Name Books">@g.Name</a>
                    }
                </div>

                <hr style="height: 5px" class="text-main" />
                <h4>Similar Books</h4>

                <div class="row">
                    @foreach (var b in _similarBooks)
                    {
                        <div class="col-6 col-sm-4 mb-4">
                            <a href="/books/@b.Id" title="@b.Title">
                                <div class="d-flex flex-column justify-content-center align-items-center pt-2">
                                    <img src="@b.Image" alt="@b.Title" class="img-fluid similarBooks-img" />
                                    <label class="text-truncate mt-2 similar-book-title">@b.Title</label>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}



@code {
    [Parameter, EditorRequired] public int BookId { get; set; }

    private BookDetailsDto? _book;
    private BookListDto[] _similarBooks = [];

    protected override async Task OnParametersSetAsync()
    {
        if (BookId <= 0)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        _book = await BookService.GetBookAsync(BookId);
        var similarBooksTask = BookService.GetSimilarBookAsync(BookId, count: 6);
        _similarBooks = await similarBooksTask;

        if (_book is null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}